{
	"$schema": "https://json.schemastore.org/eslintrc",
	"extends": "@sapphire",
	"parserOptions": {
		"project": "./config/tsconfig.eslint.json"
	},
	"rules": {
		"no-duplicate-imports": "off"
	}
}